.VPNavBarTitle span {
    display: none;
}


.VPNavBarTitle .logo {
    height: 2rem;
    width: 6.5rem;
    object-fit: contain;
    object-position: left center;
}

.VPNavBarTitle .logo-link {
    display: flex;
    align-items: center;
}
